body {
  background-color: blanchedalmond;
}
.box2 {
  border: 5px solid peru;
  background-color: antiquewhite;
  text-align: center;
  color: saddlebrown;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.button {
  font-size: 20px;
  background-image: url("download.jpg");
  border-radius: 10px;
  border: 5px solid peru;
  color: rgb(38, 255, 0);
  width: 255px;
  height: 255px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button:active {
  opacity: 0.5;
  color: rgb(72, 27, 206);
}
.topnav {
  background-color: darkgoldenrod;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
.topnav a:hover {
  background-color: sandybrown;
  color: black;
}
.topnav a:active {
  background-color: rgb(14, 244, 117);
  color: rgb(226, 12, 12);
}